/* sections animation */

.enabled-js [data-anime="scroll"] {
  opacity: 0;
  transition: 0.3s;
  transform: translate3d(-30px, 0, 0);
}

.enabled-js [data-anime="scroll"].section-animate-entrance {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
