.tooltip-container {
  z-index: 500;
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 0 0.125rem #fb5, 0 0 0 0.375rem;
  padding: 0.5rem;
  color: #fff;
  font-family: var(--ff-monospace);
  font-weight: bold;
  font-size: 0.875rem;
  max-width: 11.25rem;
  border-radius: .125rem;
}
