/* animals description / photos */

.enabled-js [data-tab="content"] section {
  display: none;
}

.animal-section-active {
  display: block !important;
}

.animal-section-active {
  display: block !important;
  animation: show-right 0.5s forwards;
}

.animal-section-active.show-down {
  display: block !important;
  animation: show-down 0.5s forwards;
}

@keyframes show-right {
  from {
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.animal-photo-active {
  cursor: zoom-in;
}

/* animal photo modal  */

.modal-photo-container {
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: none;
  justify-content: center;
  align-items: center;
}

.modal-photo-container.active {
  display: flex;
}

.modal-photo {
  height: 90vh;
  overflow: hidden;
  object-fit: cover;
}

@media (width <= 450px) {
  .modal-photo {
    height: auto;
    max-width: 90vw;
  }
}
